html {
    height: 100%;
    font-family: tahoma;
}
body {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
.header {
    display: flex;
    border: 2px solid #ffffff;
border-radius: 25px;
}

.headerline {
    display:flex;
    flex-direction: column;
    justify-content: center;

}
.headline1 {
    font-size: 23px;
    font-weight: 900;
}
.headline2 {

}
.headerlinks {
    flex-direction: row;
    align-items: flex-end;
    align-self: flex-end;
    justify-content: flex-end;
    text-decoration: none;
    color: white;
    flex-wrap: wrap;
}
.content{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    margin-top: 10%;
    align-items: center;
    justify-content: center;
}
.footer {
    display: flex;
    align-self: flex-end;
    align-items: center;
    flex: 1;
    flex-grow: 1;
} 
.headerlogo {
    width: 80px;
    border-radius: 50%;
}
.footerlogo {
    width: 20px;
    border-radius: 50%;

}